body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* nav{
 text-align: center;
}

ul {
  margin: auto;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  
}

li {
  display: inline-block;
  font-size: 14px;
  padding: 10px 10px;
}

a:link{
  font-size: 15px;
  color: #150050;
  text-decoration: none;
}
a:hover{
  color:#a063c5;
  background-color: #ffffff;
} */


 #inicio{
  background-image: url(https://img.freepik.com/fotos-gratis/figura-triangular-geometrica-fantastica-em-uma-luz-de-laser-neon-otima-para-fundos_181624-11068.jpg?t=st=1646064979~exp=1646065579~hmac=a3433c90e62e350ddd52b4536318e4af34953b71639e2a6c126cfe07ab29c5c0&w=1480);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  
}

.principalInicio{
  width: 800px;
  height: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  margin: auto;
  box-shadow: 0 0 1em rgba(253, 253, 253, 0.501);
}

.inicio1{
  display: inline-block;
}

.inicio2{
  background-color: white;
  height: 400px;
  width: 400px;
  display: inline-block;
  float: right;
}

.textoInicio {
  margin: 50px auto; 
  width: 80%;
}

.quemSouEu{
  height: 300px;
  background-color: #EEEEEE;
  margin-top: 0;
}

.textoQuemSouEu {
  margin: auto;
  width: 50%;
  padding-top: 30px;
}

span{
  font-size: 18px;
}

h2{
  color: #610094;
  margin: 0;
}

h3{
  color: #610094;
  border-bottom: solid 1px #60009429;
  font-family: 'IBM Plex Serif', serif;
  font-size: 20px;
  padding: 25px 0 10px;
  margin: 0;
  text-align: center;
}

h4{
  color: #150050;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.prg{
  line-height: 1.5;
  color: #150050;
  font-size: 15px;
  text-align: justify;
  margin: 10px 0;
}

#formação {
  height: 300px;
}

.textoFormação, .textoExperiência {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.esquerdo {
  display: inline-block;
  background-color: #a063c5;
  width: 49%;
  height: 100px;
  text-align: right;
}

.direito {
  display: inline-block;
  background-color: aqua;
  width: 49%;
  height: 100px;
  float:right;
}

#experiência {
  height: 300px;
}

.iconesHabilidades {
  padding-top: 30px;;
  text-align: center;
  height: 100px;
}

#contato {
  background-color: #EEEEEE;
}